<div class="group-heading-right"><h1>Listing groups</h1></div>

<div class="group-index-table">
  <% @groups.each do |group| %>
    <table>
      <tr><div class="group-div"><%= group.name %></div></tr>

      <!-- consider taking this part out
      <td><%#= link_to 'Show', group %></td>
      <td><%#= link_to 'Edit', edit_group_path(group) %></td>
      <td><%#= link_to 'Destroy', group, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
    </table>
  <% end %>
  <div class="group-div"><%= link_to 'New Group', new_group_path %></div>
</div>
<%= paginate @groups %>

<br />


