<section>
  <div class="profile-header">
    MY PROFILE PAGE:
    <br>
    <br>
    <br>
    <%= @user.first.upcase %>
    <%= @user.last.upcase %>
  </div>
  <div class="profile-image"><%= image_tag @user.image.detail.url, width: 300 %></div>
</section>
<section class="profile-container">
  <div class="profile-div">MY NETWORK:</div>
  <div class="accordian">
    <h4></h4>
  </div>
  <div class="add-more">ADD NETWORK</div>

</section>
<section class="profile-container">
  <div class="profile-div">MY GROUPS:</div>
  <div class="accordian"> 
    <h4></h4>
  </div>
  <div class="add-more">ADD GROUP</div>

</section>
