<h1><%= @user.first %></h1>
<h1><%= @user.last %></h1>

<div class="profile-image"><%= image_tag @user.image.detail.url, width: 400 %></div>

<div class="profile-container">
  <div class="profile-div">MY NETWORK:</div>
  <div class="add-more">ADD NETWORK</div>
</div>
<div class="profile-container">
  <div class="profile-div">MY GROUPS:</div>
  <div class="add-more">ADD GROUP</div>
</div>
