<section>
  <div class="profile-header">
    MY PROFILE PAGE:
    <br>
    <br>
    <br>
    <%= @user.first.upcase %>
    <%= @user.last.upcase %>
  </div>
  <div class="profile-image"><%= image_tag @user.image.detail.url, width: 300 %></div>
</section>
<section class="profile-container">
  <div class="profile-div">MY NETWORK:</div>
  <div class="add-more">ADD NETWORK</div>
  <div class="accordian">
    <%#  @wifis.each do |wifi| %>
    <h4>wifi.name</h4>
      <table>
        <tr>
          <td>Password:</td>
          <td>password</td>
        </tr>
        <tr>
          <td>Free or Paid:</td>
          <td>Free</td>
        </tr>
        <tr>
          <td>Private or public Network</td>
          <td>Public</td>
        </tr>
        <tr>
          <td>Business name:</td>
          <td>British Library</td>
        </tr>
        </tr>
          <td></td>
          <td>phone result</td>
        <tr>
        <tr>
          <td></td>
          <td>Adress line 1 result</td>
        </tr>
        <tr>
          <td></td>
          <td>Addressline 2 result</td>
        </tr>
        <tr>
          <td></td>
          <td>city and postcode result</td>
        </tr>
        <tr>
          <td></td>
          <td>country result</td>
        </tr>
      </table>
    <%# end %>
  </div>

</section>

<section class="profile-container">
  <div class="profile-div">MY GROUPS:</div>
  <div class="add-more">ADD GROUP</div>
  <div class="accordian">
    <h4>group.name</h4>
      <table>
        <tr>
          <td>photo</td>
          <td>name</td>
        </tr>
      </table>
  </div>


</section>
