
<div class="row">
  <div class="col-md-4">
    <form class="row" role="search" id="places_form">
      <div class="form-group col-md-12">
        <input id="pac-input" class="form-controls controls" type="text" placeholder="Search">
      </div>
    </form>
  </div>

<div class="row">
  <div id="map-container" class="col-md-6">
    <div id="googleMap"></div>
  </div>

  <div id="directions-container" class="col-md-6">
    <div id="directions-panel"></div>
  </div>
</div>

<script type="text/javascript"> 
  window.markers_info = <%= raw networks_data(@wifis).to_json %>
</script>

<% wifi_postcode_array = @wifis.map do |wifi| %>
    <%  wifi.postcode %>
<% end %>

<div id="wifiarrays" data-postcode="<%=  wifi_postcode_array.to_json %>">
</div>

<!-- <div id="hoverId" data-wifiinfo="<%= networks_data(@wifis).inspect%>">
</div> -->

<div id="hoverId" data-wifiinfo="<%= networks_data(@wifis).inspect%>">
</div>
