#group-name-title {
  font-weight: 400;
  font-size: 30px;
  margin: 10px 0;
}

#groups-show-div h5 {
  font-weight: 400;
  margin: 10px 0;
}

#groups-show-div td {
  padding-right: 50px;
  font-size: 20px;
  padding-bottom: 10px;
  font-weight: 100;
}

#groups-show-div img {
  width: 1em;
  color: #1f8dd6;
}

#group-show-wrapper {
  position: relative;
  min-height: 70vh;
}

.group-show-page-link {
  width: 33%;
  text-align: center; 
  background: #1f8dd6;
  color: white;
  padding: 10px;
  margin-top: 10px;
  font-size: 25px;
  /*display: inline-block;*/
  position: absolute;
  bottom: 0;
}