*{
  box-sizing: border-box;
}

html, body { 
  height: 100%;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  margin: 0 auto;
}

#wrapper {
  width: 992px;
  margin: 0 auto;
}

#header-wrapper-div {
  /*clear: both;*/
  font-size: 0;
  margin-bottom: 5px;
  height: 15vh;
}

.header-divs {
  padding: 35px;
  vertical-align: top;
  text-align: center; 
  background: #1f8dd6;
  color: white;
  font-weight: 100;
  font-size: 25px;
  display: inline-block;
  height: 15vh;
  width: 33%;
}

.header-divs a:visited {
  color: white;
}

/*#header-div3 {
  margin-right: 0px;
}*/

#header-div1, #header-div3 {
  cursor: pointer;
}

#header-div3 a {
  display: block;
  width: 100%;
}

#header-div2 {
  font-size: 60px;
  padding: 15px;
  margin: 0 0.5%;
}

#header-div2 img {
  width: 15%;
  margin-left: 2%;
  margin-right: 2%;
}

#header-div1 {
 /* line-height: 9vh;
  padding: 15px 20px 0;*/
  /*vertical-align: middle;*/
}

/*#header-div3 {
  line-height: 9vh;
  padding: 15px 0 0;
}*/

#header-div1:hover, #header-div3:hover {
  opacity: 0.5;
}

#dropdowndiv {
  /*position: relative;*/
  background: #1f8dd6;
  opacity: 0.9;
  float: left;
  width: 100%;
  display: none;
  top: 23px;
}

#header-div3:hover > #dropdowndiv {
  display: block;
}

main {
  min-height: 70vh;
  color: #1f8dd6;
  font-size: 20px;
}

#footer-wrapper-div {
  font-size: 0;
  margin-top: 5px;
  clear: both;
}

.FOOTER-DIV {
  vertical-align: top;
  text-align: center; 
  background: #1f8dd6;
  color: white;
  font-weight: 100;
  font-size: 25px;
  display: inline-block;
  height: 15vh;
  margin-right: 0.5% ;
  width: 33%;
  }

.FOOTER-DIV:last-child {
  margin-right: 0px;
}

.FOOTER-DIV:hover {
  opacity: 0.5;
}

.FOOTER-DIV a {
  display: block;
  color: white;
  padding-top: 30px;
}

.FOOTER-DIV a:visited {
  color: white;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  background: none;
}

main a:visited {
  color: #1f8dd6;
}

main a {
  color: #1f8dd6;
}

p {
  margin: 0;
  padding: 0;
}

main h1 {
  display: inline-block;
  font-weight: 300;
  padding-top: 10px;
}

label, input {
  font-size: 20px;
}

h3 {
  font-weight: 300;
}

tr { 
  font-weight: 400;
  font-size: 14px;
  text-align: left; 
}

/* Large Devices, Wide Screens */
/*@media only screen and (max-width : 1200px) {

}*/

/* Medium Devices, Desktops */
/*@media only screen and (max-width : 992px) {

}*/

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
  #wrapper {
    width: 100%;
  }
  .header-divs {
    padding-left: 0;
    padding-right: 0;
  }
  #header-div2 {
    font-size: 45px;
    padding: 25px 0px;
  } 
  #header-div2 img {
    width: 20%;
  }
}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {
  #header-div1, 
  #header-div3 {
    display: none;
  }
  #header-div2 {
    float: left;
    width: 100%;
    padding-top: 20px;
  }
  #header-div2 img {
    width: 10%;
  }
}

/* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px) {
  
}

