*{
  box-sizing: border-box;
}

html, body { 
  height: 100%;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  margin: 0 auto;
}

#wrapper {
  width: 960px;
  margin: 0 auto;
}

.header-divs {
  text-align: center; 
  background: #1f8dd6;
  color: white;
  font-weight: 100;
  font-size: 25px; 
  float: left;
  height: 15vh;
  width: 33.33%;
}

.header-divs a:visited {
  color: white;
}

#header-div1, #header-div3 {
  padding: 15px 20px 0;
}

#header-div2 {
  font-size: 60px;
  padding-top: 40px;
}

#header-div1 {
  line-height: 9vh;
  padding: 15px 20px 0;
}

#header-div3 {
  line-height: 9vh;
  padding: 15px 0 0;
}

#header-div1:hover, #header-div3:hover {
  opacity: 0.5;
}

#dropdowndiv {
  position: relative;
  background: #1f8dd6;
  opacity: 0.9;
  float: left;
  width: 100%;
  display: none;
  top: 23px;
}

#header-div3:hover > #dropdowndiv {
  display: block;
}

main {
  min-height: 95vh;
  color: #1f8dd6;
  font-size: 20px;
}

.FOOTER-DIV {
  background: #1f8dd6;
  color: white;
  display: inline-block;
  width: 33%;
  margin: 0 auto;
  padding: 30px 0;
  font-size: 25px;
  text-align: center;
  min-height: 15vh;
  }

.FOOTER-DIV:hover {
  opacity: 0.5;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  background: none;
}

main a:visited {
  color: #1f8dd6;
}

main a {
  color: #1f8dd6;
}

p {
  margin: 0;
  padding: 0;
}


main h1 {
  display: inline-block;
  font-weight: 300;
  padding-top: 10px;
}

label, input {
  font-size: 20px;
}

h3 {
  font-weight: 300;
}

tr { 
  font-weight: 400;
  font-size: 14px;
  text-align: left; 
}

/*@media only screen and (max-width: 720px) {
  #wrapper {
    width: 100%;
  }
  .FOOTER-DIV {
    width: 33.33%;
  }
  #header-div1, #header-div3 {
    line-height: 4vh;
    padding: 25px;
    font-size: 20px;
  }
  #header-div1 {
    line-height: 6vh; 
  }
  #header-div2 {
    font-size: 50px;
    padding-top: 10px;
  }
}


@media only screen and (max-width: 460px) {
  .page-wrap {
    width: 100%;
  }

  .feature {
    display: inline-block;
    width: 100%;
  }
  

}
*/


.profile-header {
  text-align: center; 
  color: black;
  font-weight: 100;
  font-size: 60px;
  padding: 0px;
  margin-top: 0px;
  float: left;
}


.profile-image {
  float: right;
}

.profile-summary {
  float: left;
}

.profile-container {
  width: 960px;
  margin: 0 auto;
  clear: both;
}

.profile-div {
/*  width: 66.5%;*/
  text-align: center; 
  background: #1f8dd6;
  color: white;
  font-size: 25px;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  /*float: left;*/
}

.add-more {
/*  width: 33%;*/
  text-align: center; 
  background: #1f8dd6;
  color: white;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 25px;
/*  float: right;*/
}

.accordian {
  width: 66.5%;
  clear: left;
}

.user-form {
  width:600px;
  float: left;
}

.new-user-side {
  width: 66.5%;
  float: right;
}

.semi-container-left {
  width: 66.5%;
  float: left;
}

.semi-container-right {
  width: 33%;
  float: right;
}