* {
  box-sizing: border-box;
}

html, body { 
  height: 100%;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  margin: 0 auto;
}

#wrapper {
  width: 960px;
  margin: 0 auto;
}

.header-divs {
  text-align: center; 
  background: #1f8dd6;
  color: white;
  font-weight: 100;
  font-size: 25px; 
  float: left;
  height: 15vh;
  width: 33.33%;
}

#header-div2 {
  font-size: 60px;
  padding-top: 40px;
}

#header-div1, #header-div3 {
  line-height: 10vh;
  padding: 15px 20px 0;
}

#header-div1:hover, #header-div3:hover {
  opacity: 0.5;
}

main {
  min-height: 95vh;
}

.FOOTER-DIV {
  background: #1f8dd6;
  color: white;
  display: inline-block;
  width: 33%;
  margin: 0 auto;
  padding: 30px 0;
  font-size: 25px;
  text-align: center;
  min-height: 15vh;
  }

.FOOTER-DIV:hover {
  opacity: 0.5;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  background: none;
}

a:visited {
  color: white;
}

p {
  margin: 0;
  padding: 0;
}

/*@media only screen and (max-width: 720px) {
  #wrapper {
    width: 100%;
  }
  .FOOTER-DIV {
    width: 33.33%;
  }
  #header-div1, #header-div3 {
    line-height: 4vh;
    padding: 25px;
    font-size: 20px;
  }
  #header-div1 {
    line-height: 6vh; 
  }
  #header-div2 {
    font-size: 50px;
    padding-top: 10px;
  }
}*/
/*
@media only screen and (max-width: 460px) {
  .page-wrap {
    width: 100%;
  }

  .feature {
    display: inline-block;
    width: 100%;
  }
  
}*/

.profile-header {
  text-align: center; 
  color: black;
  font-weight: 100;
  font-size: 60px;
  padding: 0px;
  margin-top: 0px;
  float: left;
}

.profile-image {
  float: right;
}

.profile-container {
  width: 960px;
  margin: 0 auto;
  clear: both;
}

.profile-div {
  width: 66.5%;
  text-align: center; 
  background: #1f8dd6;
  color: white;
  font-size: 25px;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  float: left;
}

.add-more {
  width: 33%;
  text-align: center; 
  background: #1f8dd6;
  color: white;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 25px;
  float: right;
}


