.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

section {
  float: left;
  margin-bottom: 68px;
}

#user-form-left {
  width: 48%;
  float:left;
}

#user-form-right {
  width: 48%;
  float: right;
}

.group-index-table {
  width: 33%;
}

.group-div {
  text-align: left; 
  font-family: 'Roboto', sans-serif;
  background: white;
  color: #1f8dd6;
  font-size: 25px;
  padding: 10px;
  margin-top: -2px;
  margin-bottom: -3px;  
  border-style: solid;
  border-width: 1px;
  border-color: #1f8dd6;
}


ul {
  text-align: left;
  font-size: 25px;
  margin: 10px 0 2px 0;
  color: #1f8dd6;
}

.profile-header {
  text-align: center; 
  color: black;
  font-weight: 100;
  font-size: 60px;
  padding: 0px;
  margin-top: 0px;
  display: inline-block;
  vertical-align: top;
}

.profile-header p:nth-child(2) {
  text-align: left;
  font-size: 30px;
  color: #1f8dd6;
  font-weight: 400;
  margin-top: 10px;
}

#profile-page-wrapper {
  width: 100%;
  max-height: 70vh;
  margin: 20px 0 40px 0;
}

.profile-image {
  /*display: inline-block;
  margin: 0 0 0 170px;*/
  float: right;
}

.profile-summary {
  display: inline; 
}

.profile-container {
  width: 100%;
  margin: 0 auto;
  clear: both;
}

.profile-div {
  width: 100%;
  text-align: center; 
  background: #1f8dd6;
  color: white;
  font-size: 25px;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  display: inline-block;
}


.add-more {
  width: 100%;
  text-align: center; 
  background: #1f8dd6;
  color: white;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  /*margin-left: 145px;*/
  font-size: 25px;
  display: inline-block;
}

.accordion-wifi {
  border: 1px solid #1f8dd6;
  border-radius: 5px;
  font-family: 'Roboto', sans-serif;
  font-size: 25px;
}

em {
  font-weight: 300;
}

.user-form {
  width:600px;
  float: left;
}

#user-form-left form {
  margin-left: 5px;
  margin-bottom: 10px;
}

.new-user-side {
  width: 66.5%;
  float: right;
}

.semi-container-left {
  width: 60%;
  float: left;
}

.semi-container-right {
  width: 39%;
  display: inline-block;
  margin-left: 1%;
}

.semi-container-right form {
  margin-left: 15px;
  margin-bottom: 20px;
}

.clear {
  clear: both;
}

#edit-profile-div {
  width: 60%;
  text-align: center; 
  background: #1f8dd6;
  color: white;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 25px;
  display: inline-block;
}

